*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Inter,Arial,sans-serif;
}

body{
    background:linear-gradient(135deg,#050816,#0f172a,#111827);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    padding:20px;
}

.card{
    width:400px;
    background:rgba(255,255,255,.06);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    padding:30px;
    box-shadow:0 0 35px rgba(37,99,235,.25);
}

.logo{
    width:90px;
    height:90px;
    margin:auto;
    border-radius:50%;
    background:linear-gradient(135deg,#2563eb,#38bdf8);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:42px;
}

h1{
    margin-top:20px;
    text-align:center;
    font-size:32px;
}

.subtitle{
    text-align:center;
    color:#cbd5e1;
    margin-top:8px;
    margin-bottom:20px;
}

.rate{
    background:#1d4ed8;
    border-radius:12px;
    padding:14px;
    text-align:center;
    font-weight:bold;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    outline:none;
    background:#0f172a;
    color:white;
    font-size:18px;
    text-align:center;
}

.receive{
    margin-top:20px;
    background:#111827;
    border-radius:12px;
    padding:18px;
    text-align:center;
}

.receive h2{
    color:#38bdf8;
    margin-top:10px;
    font-size:28px;
}

#ton-connect{
    margin-top:20px;
}

button{
    width:100%;
    margin-top:18px;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.25s;
}

button:hover{
    background:#1d4ed8;
    transform:translateY(-2px);
}

.footer{
    margin-top:20px;
    text-align:center;
    color:#94a3b8;
    font-size:13px;
    line-height:22px;
}

@media(max-width:480px){

.card{
    width:100%;
}

}
